.pmpro_star_rating {
	display: inline-flex;
}
.pmpro_star {
	cursor: pointer;
	fill: none;
	height: 24px;
	stroke: var(--pmpro--color--border);
	transition: fill 0.3s;
	width: 24px;
}
.pmpro_star:hover {
	fill: none;
	stroke: var(--pmpro--color--border);
}
.pmpro_star.filled,
.pmpro_star:hover {
	fill: var(--pmpro--testimonials--star);
	stroke: var(--pmpro--testimonials--star);
}
