.pmpro_star_rating {
	display: inline-flex;
}
.pmpro_star {
	cursor: pointer;
	fill: none;
	height: 24px;
	stroke: var(--pmpro--color--border, #777);
	transition: fill 0.3s;
	width: 24px;
}
.pmpro_star:hover {
	fill: none;
	stroke: var(--pmpro--color--border, #777);
}
.pmpro_star.filled,
.pmpro_star:hover {
	fill: var(--pmpro--testimonials--star, #ffd700);
	stroke: var(--pmpro--testimonials--star, #ffd700);
}
