.pmpro_star_rating {
	display: inline-flex;
}
.pmpro_star {
	fill: none;
	height: 24px;
	stroke: var(--pmpro--color--border);
	width: 24px;
}
.pmpro_star.filled {
	fill: var(--pmpro--testimonials--star);
	stroke: var(--pmpro--testimonials--star);
}
